<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to 'ConexãoUFF', root_path, class: 'navbar-brand' %>

    <div class="form-inline my-2 my-lg-0">
      <% if logado? %>
        <span class="navbar-text mr-sm-4"> Bem-vindo, <%= admin.nome %></span>
        <%= link_to 'Sair', logout_path, class: 'nav-link btn btn-outline-info btn-md' %>
      <% else %>
        <%= link_to 'Entrar', login_path, class: 'nav-link btn btn-outline-info btn-md' %>
      <% end %>
    </ul>
  </nav>
</header>
