<h1>Bem vindo ao novo Sistema :)</h1>
<h2>Você já está logado no portal.</h2>
<p>usuario_corrente.iduff #=> <%= usuario_corrente.iduff%></p>
<p>usuario_corrente.ip #=> <%= usuario_corrente.ip%></p>
<p>usuario_logado? #=> <%= usuario_logado? %></p>