development:
  adapter: mysql2
  encoding: utf8
  database: projeto_padrao_development
  username: root
#  password: tzzk7662

test: &test
  adapter: mysql2
  encoding: utf8
  database: projeto_padrao_test
  username: root
  password: tzzk7662

production:
  adapter: mysql2
  encoding: utf8
  database: ###IP_PRODUCAO###
  username: ###USUARIO_PRODUCAO###
  password: ###SENHA_PRODUCAO###
  host: mysqlapps.sti.uff.br

homologacao:
  adapter: mysql2
  encoding: utf8
  database: ###IP_HOMOLOGACAO###
  username: ###USUARIO_HOMOLOGACAO###
  password: ###SENHA_HOMOLOGACAO###
  host: mysqlapps.sti.uff.br

cucumber:
  <<: *test
