<h2 class="col bg-secondary text-light p-3 text-center">Conteúdo</h2>
<div class="col">
  <div class="row p-5">
    <div class="informacoes-gerais col-sm-12 col-lg-4">
      <%= render 'partials/sidebar_topicos' %>
    </div>
    <div class="avisos col-lg-8 col-sm-12">
      <%= render 'partials/topico' %>
      <%= render 'partials/topico' %>
      <%= render 'partials/topico' %>
    </div>
  </div>
</div>
